@CHARSET "UTF-8";
/**
 * Content controller general CSS file
 *
 * ID:s that are used by layout and layout.css and must not be used to avoid duplicate id's:
 * #alert 
 * #background
 * #container 
 * #header 
 * #title
 * #search
 * #search-top
 * #search-field 
 * #globalSearch
 * #search-submit
 * #submitsearch 
 * #select
 */
 
 /**
 * CSS "constants" cheat sheet
 *
 * RED 		= #D21034
 * BLUE		= #0089CF
 * GREEN	= #4B9B07
 * YELLOW	= #FFC726
 * DEEPBLUE	= #003581
 * GREY		= #CCCCCC
 */
 
#campaigns #browse-page .campaign_row { width: 450px; padding-left: 5px; display: block; }
#campaigns #browse-page .campaign { background: url("../../img/gray_dot_line_500.png") no-repeat scroll center bottom transparent; margin-bottom: 10px; padding: 0 0 8px; }
#campaigns #browse-page .campaign .photo { float: left; margin: 0 10px 0 0; width: 48px; height: 48px; }
#campaigns #browse-page .campaign .challenge { border-left: 5px solid #D21034; }
#campaigns #browse-page .campaign .idea { border-left: 5px solid #4B9B07; }
#campaigns #browse-page .campaign .vision { border-left: 5px solid #FFC726; }
#campaigns #browse-page .campaign .photo img { width: 48px; height: 48px;  }
#campaigns #browse-page .campaign .context { width: 435px; font-size: 12px;}
#campaigns #browse-page .campaign a { color: #0089CF; }
#campaigns #browse-page .campaign .context p { margin: 2px;  }
#campaigns #browse-page .campaign p.translate { color: #999 }
#campaigns #browse-page .summary_translatelink_meta { display:none; }
#campaigns #browse-page #tabs { border: 0; padding: 0; }
#campaigns #browse-page .ui-tabs-panel { padding:  1em 0}
#campaigns #browse-page h2 { font-size: 18px; }